/* General styles */    
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #ffbd59;
    }

/* Header logo styles */

    header img {
        width:150px;
        height: auto;
        position: absolute;
        left: 25px;
        top: 25px;
    }

    

    /* a:link.com {
        color: #ffbd59;
    }
    a:active {
        color: #ffbd59;
    }
    a:visited {
        color: #ffbd59;
    }
    a:hover {
        color: #ffbd59;
    } */

/* Header title styles */

    header {
    color: white;
    background-color: #84344f;
    padding: 20px;
    text-align: center;
    }

    header h1 {
    margin: 0;
    font-size: 2.5em;
    }

/* Navigation styles */

    header nav {
    position: relative;
    left: auto;
    right: 25px;
    margin: 25px 0;
    }

    header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    }

    header ol a {
    color: white;
    font-size: 25px;
    list-style-type: none;
    padding: 0;
    text-decoration: none;
    }

    header ol a:hover {
        color: #ffbd59;
        font-weight: bold;
        text-decoration: underline;
    }